<h1>Admin Dashboard</h1>
<br>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Categories</th>
      <th>Number of Products in Category</th>
    </tr>
  </thead>

  <tbody>
    <% @product_per_category_count.each do |category, count| %>
      <%= render "category_count", category: category, count: count %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Total number of products</th>
      <td><a href="/admin/products"><%= @product.length %></a></td>
    </tr>
  </tfoot>
</table>


